@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/* <i class="fa-solid fa-arrow-right"></i> */

body {
    font-family: "DM Sans";
    overflow-x: hidden;
    background-color: #c4dfdf;
}

a {
    text-decoration: none;
}

#title .container-fluid {
    border-bottom: #1e285f 2px solid;
    background-color: white;
    padding: 1rem;
}

form {
    padding: 1rem;
}

form :first-child {
    display: flex;
    gap: 1rem;
}
